.App {
  text-align: center;
}
.card{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.navbar{
  padding:10px;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100px;
  padding: 10px;
}
.dark-mode_toggle {
  background: white; 
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}
.toggle {
  background: black; 
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}
.toggled {
  left: 18px; 
}
.dark-mode {
  color: slategray;
  background-color: #313843;

}